<h1>Pomodoro Inprogress</h1>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" {{action 'setInitialTime' 'POMODORO'}}>
    Pomodoro
</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" {{action 'setInitialTime' 'SHORT_BREAK'}}>
    Short Break
</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent" {{action 'setInitialTime' 'LONG_BREAK'}}>
    Long Break
</button>
<h1>{{minutesLeft}}</h1>
<h1>{{secondsLeft}}</h1>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Start
</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Stop
</button>
<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
    Reset
</button>
{{#link-to 'pomodoros.show' model}}<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">Reflect</button>{{/link-to}}